<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>Formulario: agregar empleado</h1>
<form th:action="@{/empleado-form}" th:object="${empleado}" th:method="post">
    <label for="nombre">Nombre</label>
    <input type="text" th:field="*{nombre}" id="nombre">
    
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
	
	<label for="puesto">Puesto</label>
    <input type="text" th:field="*{puesto}" id="bio">
     
    
    <button type="submit">Enviar</button>
    <br>
    <a href="/empleados">Volver</a>
</form>

</body>
</html>