<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de empleados</title>
</head>
<body>
    <h2>Lista de empleados</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Email</th>
                <th>Puesto</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="empleado : ${empleados}">
                <td th:text="${empleado.id}"></td>
                <td th:text="${empleado.nombre}"></td>
                <td th:text="${empleado.email}"></td>
                <td th:text="${empleado.puesto}"></td> <!-- Aqui habría que poner un if estado!== null, pues lo imprime, pues imprimir un null da error -->
            </tr>
        </tbody>
    </table>
    <a href="/">Volver</a>

</body>
</html>