<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lista de oficinas</title>
</head>
<body>
    <h2>Lista de oficinas</h2>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Ubicación</th>
                <th>Teléfono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="oficina : ${oficinas}">
                <td th:text="${oficina.id}"></td>
                <td th:text="${oficina.ubicacion}"></td>
                <td th:text="${oficina.telefono}"></td>
                <td><a th:href="@{/oficina-form"  name="verEmpleados" value="${oficina.id}">Ver empleados</a></td>
            </tr>
        </tbody>
    </table>
    <div th:if="!${empleados}.isEmpty()">
    <h3>Lista de empleados</h3>
    <ul>
    <li th:each= "empleado : ${empleados}" th: text="${empleado.nombre} : ${empleado.puesto}"></li>
    </ul>
    </div>
    
    
    <a href="/oficinas">Añadir oficina</a>
    <a href="/">Volver</a>

</body>
</html>